body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-seriflin;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 
{
    font-size: 20px;
}

#cabecera{
    background-color: #33A;
    box-shadow: 0px 5px 30px 0px rgba(0, 0,0,0.5);
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}

#cabecera #tagline{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8cm;

}